body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Moderat';
  
}
  
a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #1E130C;
}

button {
  display: inline-flex;
  border: 0;
  background: transparent;
}

button:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}


ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
   margin: 0;
}

p {
  font-family: 'Proxima Nova';
  margin: 0;
}

.no-padding {
  padding: 0 !important
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.user-type [type="radio"]:checked,
.user-type [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.user-type [type="radio"]:checked + label,
.user-type [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

.user-type [type="radio"]:checked + label:before,
.user-type [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

.user-type [type="radio"]:checked + label:after,
.user-type [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #11b4da;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.user-type [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.user-type [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}