

@media screen and (max-width: 1424px) {

	.filter {
        top: 1% !important;
        height: 100% !important;
    }
    .map-wrapper .filter .filter-card .nice-select {
        height: 40px;
    }

    .map-wrapper .filter {
        width: 320px;
        padding-left: 20px;
    }

    .container {
        max-width: 1290px;
    }   

}

@media screen and (max-width: 1024px) {


}




@media screen and (max-width: 768px) {

}



@media screen and (max-width: 480px) { 
	
}



@media screen and (max-width: 375px) { 




}